.secao_banner {
  background-color: #f9db79;
  background-image: url(../../public/banner-home.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.texto_banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;
}

.texto_banner h1 {
  color: #fff;
  text-shadow: 3px 5px 2px #474747;
  text-transform: uppercase;
  font-size: 100px;
}
