.secao_banner {
  background-color: #f9db79;
  background-image: url(../../public/banner-home.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.texto_banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;
}

.texto_banner h1 {
  color: #fff;
  text-shadow: 3px 5px 2px #474747;
  text-transform: uppercase;
  font-size: 100px;
}

.card_home_a,
.card_home_b,
.card_home_c {
  display: flex;
  width: 100%;
}

.container_textos {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 100px;
}

.imagem_home {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.container_textos h2 {
  font-size: 36px;
}

.container_textos span {
  font-size: 20px;
  font-style: italic;
}

.container_textos p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .texto_banner h1 {
    font-size: 60px;
  }

  .card_home_a,
  .card_home_b,
  .card_home_c {
    flex-direction: column;
    align-items: center;
  }

  .imagem_home {
    width: 100%;
  }

  .container_textos {
    width: 100%;
    padding: 100px 20px;
  }

  .card_home_b {
    flex-direction: column-reverse;
    align-items: center;
  }

  .card_home_c {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .texto_banner h1 {
    font-size: 40px;
  }

  .secao_banner {
    background-size: 400px;
  }
}
