.topo {
  background-color: #f9db79;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.link_home,
.link_sabores,
.link_sobre {
  text-decoration: none;
  margin: 20px;
  color: #000;
  font-weight: 600;
}
